@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body{
    font-family:'Cinzel', serif;
    background-color: rgb(240, 240, 240);
}

header{
    text-align: center;
}

main {
    text-align: center;
}

a {
    color:rgb(189, 0, 0);
}