input{
    display:block;
    margin:20px;
}

#fetchDataButton{
    background-color: #f16543;
    border:none;
    padding:10px 20px;
}

#fetchDataButton:hover{
    background-color: #ff8161;
    cursor: pointer;
}