@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Poppins:wght@500&display=swap');

body{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(165, 42, 42, 0.068);
    margin:0;
    color:black;
}

h1{
    font-family: 'Limelight', cursive;
}

a{
    text-decoration: none;
    color:black;
}

#titleQuery{
    font-family: 'Poppins', sans-serif;
    border:2px solid black;
    width:300px;
    border-radius: 5px;
    padding:10px;
}

#movieHeader{
    height: 400px;
}

#instructions{
    padding:20px;
}

#results{
    display: inline;
    /* grid-template-columns: 1fr 1fr 1fr; */
}

.result{
    width:200px;
    height: 100px;
    display: inline-block;
    padding:30px;
    cursor: pointer;
}

.button{
    font-family: 'Poppins', sans-serif;
    color:white;
    background-color: brown;
    border:none;
    border-radius: 5px;
    padding:10px 50px;
    margin:10px;
}

.button:hover{
    background-color: rgb(182, 55, 55);
    cursor: pointer;
}