@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Poppins:wght@500&display=swap');

body{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(165, 42, 42, 0.068);
}

h1{
    font-family: 'Limelight', cursive;
}

#searchButton{
    padding:15px 30px;
    margin:20px;
    font-family: 'Poppins', sans-serif;
    color:white;
    background-color: brown;
    border:0;
    border-radius: 5px;
}

#searchButton:hover{
    background-color: rgb(182, 55, 55);
    cursor: pointer;
}

input{
    font-family: 'Poppins', sans-serif;
    width:300px;
    padding: 10px 15px;
    border-radius: 5px;
}

#movieHeader{
    height: 400px;
}

#instructions{
    padding-top: 150px;
}

#results{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}